/* обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: block;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* проект */
body {
  background-color: rgb(219, 193, 159);
}
.wraper {
  padding: 0 2rem;
}
.contaner {
  margin: 5rem auto;
  max-width: 91rem;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
  width: 400%;
  transition: all 0.6s ease;
}
.slide {
  width: 25%;
}
img {
  border-radius: 1em;
  height: 100%;
  width: 100%;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 0 5em 0;
}
@media (max-width: 786px) {
  .controls {
    justify-content: center;
  }
}
.phrases__wraper {
  width: 50rem;
  overflow: hidden;
}
.phrases {
  font-size: 3em;
  display: flex;
  width: 400%;
  flex-wrap: nowrap;
  transition: all 0.6s ease;
  margin: 2em 0 0 0;
}
.phrase {
  width: 25%;
  display: block;
}
input[name='radio'] {
  visibility: hidden;
}
.points-style {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  margin: -4rem 0 0 0;
}
@media (max-width: 786px) {
  .points-style {
    margin: -7rem 0 0 0;
  }
}
@media (max-width: 555px) {
  .points-style {
    margin: -10rem 0 0 0;
  }
}
.control {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.control .control__cirle {
  height: 40%;
  width: 40%;
  border: solid 4px rgb(78, 78, 196);
  background: rgb(78, 78, 196);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.control:hover .control__cirle {
  border: solid 4px rgb(184, 86, 197);
  background: rgb(184, 86, 197);
}
.control:active .control__cirle {
  border: solid 4px red;
  background: rgb(184, 86, 197);
}
#point-one:checked ~ .slides {
  margin-left: 0;
}
#point-two:checked ~ .slides {
  margin-left: -100%;
}
#point-three:checked ~ .slides {
  margin-left: -200%;
}
#point-four:checked ~ .slides {
  margin-left: -300%;
}
#point-one:checked
  ~ .controls
  > .points-style
  > .control
  > #control__cirle_one {
  border: solid 4px rgb(78, 78, 196);
  background: white;
}
#point-two:checked
  ~ .controls
  > .points-style
  > .control
  > #control__cirle_two {
  border: solid 4px rgb(78, 78, 196);
  background: white;
}
#point-three:checked
  ~ .controls
  > .points-style
  > .control
  > #control__cirle_three {
  border: solid 4px rgb(78, 78, 196);
  background: white;
}
#point-four:checked
  ~ .controls
  > .points-style
  > .control
  > #control__cirle_four {
  border: solid 4px rgb(78, 78, 196);
  background: white;
}
